/** http://codepen.io/mahirshah/pen/GvCqe
 * Simple mixin for absolute positioning
 */
/**
 * Mixin that makes the overlay happen and displays the inner p tag
 
ul > li {
  background-size: cover;
  background-position: center;
  position: relative;
}
ul > li > p {
  opacity: 0;
  width: 100%;
  text-align: center;
  z-index: 5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 1px;
  color: #FFF;
  line-height: 1.5em;
  margin-top: -0.75em;
  position: absolute;
  top: 50%;
  left: 0;
}
ul > li:after {
  content: '';
  opacity: 0;
  background: -webkit-linear-gradient(rgba(153,153,153, 0.8), rgba(0,0,0, 0.8));

  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
ul > li:hover > p, ul > li:hover:after {
  font-size: 1.5em;
  opacity: 1;
  cursor: pointer;
}

html, body {
  height: 100%;
  width: 100%;
}

ul {
  font-family: Helvetica;
  height: 100%;
  width: 100%;
}

li {
  float: left;
  padding-bottom: 33.3333%;
  width: 50%;
  list-style: none;
  margin: 0px !important;
}

ul > li:nth-child(1) {
  background-image: url(../images/The_Triton.png);
}

ul > li:nth-child(2) {
  background-image: url(../images/Pierre.jpg);
}

ul > li:nth-child(3) {
  background-image: url(../images/Moonshot.png);
}

ul > li:nth-child(4) {
  background-image: url(../images/cogs187a.png);
}

ul > li:nth-child(5) {
  background-image: url(../images/paintbrush.png);
}
